<!Doctype html>
<html>

<head>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">
	<link rel="stylesheet" href="../../static/css/estilo.css">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, scale = 1.0">
	<link rel="stylesheet" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<title> RH | Principal</title>
</head>

<header id="MENU">
	<img src="../../static/imagenes/RHH.png" width="70px" height="55px">
	<ul>
		<li><a href="#">Deducciones</a>
			<ul>
				<li><a href="">Agregar</a></li>
				<li><a href="">Consulta General</a></li>
				<li><a href="">Editar</a></li>
				<li><a href="">Eliminar</a></li>
				<li><a href="">Consulta Individual</a></li>
			</ul>
		</li>

		<li><a href="#">Percepciones</a>
			<ul>
				<li><a href="">Agregar</a></li>
				<li><a href="">Consulta General</a></li>
				<li><a href="">Editar</a></li>
				<li><a href="">Eliminar</a></li>
				<li><a href="">Consulta Individual</a></li>
			</ul>
		</li>

		<li><a href="#">Ciudades</a>
			<ul>
				<li><a href="">Agregar</a></li>
				<li><a href="">Consulta General</a></li>
				<li><a href="">Editar</a></li>
				<li><a href="">Eliminar</a></li>
				<li><a href="">Consulta Individual</a></li>
			</ul>
		</li>

		<li><a href="#">Estado</a>
			<ul>
				<li><a href="">Agregar</a></li>
				<li><a href="">Consulta General</a></li>
				<li><a href="">Editar</a></li>
				<li><a href="">Eliminar</a></li>
				<li><a href="">Consulta Individual</a></li>
			</ul>
		</li>

	</ul>

	<h3>
            <a href="/cerrarSesion" class="linkButton" >Cerrar Sesion</a>
            <a class="usuario">
                <div class="container-fluid">
                    <!--ul class="nav navbar-nav navbar-center">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user['nombre']}} <span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/actualizarUsuario">Editar perfil</a></li>
                        </ul>

                    </ul-->
                </div>
            </a>
        </h3>

</header>


<body background="../../static/imagenes/nuevoRH.png">
	<!--<div id="contenedor">
		<ul>
			<li><img src="imagenes/fondo.jpg" alt=""></li>
			<li><img src="imagenes/fondo2.jpg" alt=""></li>
			<li><img src="imagenes/fondo3.jpg" alt=""></li>
			<li><img src="imagenes/fondo4.jpg" alt=""></li>
		</ul>
	</div>-->
</body>

<footer style="margin-bottom: 0">
	<img src="../../static/imagenes/fondo4.png" width="60px" height="60px">
	<address style="text-align: center;"> Departamento RH </address>
</footer>

</html>