<!Doctype html>
<html>
    <head>
	   <title> RH | Editar Percepcion</title>
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, scale=1.0">
	   <link rel="stylesheet" href="css/bootstrap.min.css">
	   <link rel="stylesheet" href="css/style.css">
	</head>

	<header id="MENU">
			<img src="imagenes/RHH.png" width="70px" height="55px"> 
		<ul>
			<li><a href="Deducciones.html">Deducciones</a>
				
			</li>
				
			<li><a href="#">Percepciones</a>
				
			</li>
				
			<li><a href="Ciudades.html">Ciudades</a>
				
			</li>
				
			<li><a href="Estados.html">Estado</a>
				
			</li>
				
		</ul>

	</header>


<body >
		<main>
        <div class="container" style="text-align: center;"><br>
            <h1> EDITAR PERCEPCION </h1><br>
            <center>
            <div class="col-sm-4">
                <form action="NuevaPercepcion" method="post" onsubmit="return validar(this)">
                    <div class="form-group">
                        <label>ID:</label>
                        <input type="number" name="id" readonly value="{{id}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>NOMBRE:</label>
                        <input type="text" name="nombre" placeholder=" " required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>DESCRIPCION:</label>
                        <input type="text" name="descripcion" placeholder=" "required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>DIAS A PAGAR:</label>
                        <input type="number" name="diaspagar" placeholder=" "required class="form-control">

                   <!-- {%if msg!=None%}
                        <div id="notificaciones">
                            <h4 style="color:green;">{{msg}}</h4>
                        </div>
                    {%endif%}-->
                    <br> <br><br>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="ConsultaGeneralPercepciones.html" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
            </center>
        </div>
</body>

	<footer style="margin-bottom: 0"> 
			<img src="imagenes/fondo4.png" width="60px" height="60px">
			<address style="text-align: center;"> Departamento RH  </address>
	</footer>
</html>