<!Doctype html>
<html>
    <head>
		<link rel="shortcut icon" type="image/x-icon" href="../../static/imagenes/rh.ico">

	   <title> RH | Deducciones</title>
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, scale=1.0">
	   <link rel="stylesheet" href="css/bootstrap.min.css">
	   <link rel="stylesheet" href="../../static/css/estilo.css">
	</head>

	<header id="MENU">
			<img src="../../static/imagenes/RHH.png" width="70px" height="55px"> 
		<ul>
			<li><a href="Deducciones.html">Deducciones</a>
				
			</li>
				
			<li><a href="#">Percepciones</a>
				
			</li>
				
			<li><a href="Ciudades.html">Ciudades</a>
				
			</li>
				
			<li><a href="Estados.html">Estado</a>
				
			</li>
				
		</ul>

	</header>


<body >
		<main>
		<br> <br> <br> 
        <div class="container" style="text-align: center;">
            <h1> CONSULTA DE DEDUCCIONES </h1><bR>
            <a href="NuevaPercepcion.html" class="btn btn-primary"><img src="../../static/imagenes/add.gif">Nuevo</a><br><br>
            <table class="table">
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
                <th>PORCENTAJE</th>
				<th>EDITAR</th>
                <th>ELIMINAR</th>
                <tr>
						<td> {{}} </td>
                        <td> {{}} </td>
                        <td> {{}}</td>
                        <td> {{}} </td>
                        <td><a href="EditarPercepcion.html"><img src="../../static/imagenes/editar.png"></a></td>
                        <td><a href=""><img src="imagenes/eliminar.png"></a></td>
						<td><a href="ConsultaPercepcion.html"><img src="../../static/imagenes/consultar.png"></a></td>
                    </tr>
             
            </table><br>
            <a href="../Comunes/principal.html" class="btn btn-danger" style="float:right;">Regresar</a><BR>
        </div>

	</main><br>
</body>

	<footer style="margin-bottom: 0"> 
			<img src="../../static/imagenes/fondo4.png" width="60px" height="60px">
			<address style="text-align: center;"> Departamento RH  </address>
	</footer>
</html>